boy{
color:rgb(168, 209, 245);/*cor a fonte*/
background-color: rgb(95, 215, 236) (20, 221, 227);/*cor de fundo*/
font-size: 24px;/*amanho da onte*/
}
header{ 

   border-bottom: solid 2px rgb(116, 165, 221); 
   padding: 20px;/*espaçamento interno*/
   font-size: 32px;/*tamanho da fonte*/
   color: black (5,435,321);
}

section{
  background-color: blue;

}